<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.u.bops.biz.dal.mapper.FriendShipMapper">

    <!--
  <cache />
  -->

    <select id="countByParam" parameterType="map" resultType="int">
        SELECT count(*)
        FROM friend_ship
        <where>
            deleted = 0
        </where>
    </select>

    <select id="queryByParam" parameterType="map" resultType="FriendShip">
        SELECT *
        FROM friend_ship
        <where>
            deleted = 0
        </where>
    </select>

    <select id="getByParam" parameterType="map" resultType="FriendShip">
        SELECT *
        FROM friend_ship
        <where>
            deleted = 0
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="friendOpenId != null">
                and friend_open_id = #{friendOpenId}
            </if>
        </where>
    </select>

    <select id="getFriendShip" resultType="FriendShip">
        SELECT *
        FROM friend_ship
        <where>
            deleted = 0
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="friendOpenId != null">
                and friend_open_id = #{friendOpenId}
            </if>
        </where>
    </select>

    <update id="updateById" parameterType="FriendShip">
        update friend_ship
        SET
        <if test="friendNickName != null">
            friend_nick_name = #{friendNickName},
        </if>
        <if test="friendImage != null" >
            friend_image = #{friendImage},
        </if>
        update_time = now()
        WHERE id = #{id}
    </update>

    <update id="deleteById" >
        update friend_ship
        SET
        deleted = 1,
        update_time = now()
        <where>
            deleted = 0
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="friendOpenId != null">
                and friend_open_id = #{friendOpenId}
            </if>
        </where>
    </update>

    <update id="setDelete" >
        update friend_ship
        SET
        deleted = 1,
        update_time = now()
        <where>
            deleted = 0
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="friendOpenId != null">
                and friend_open_id = #{friendOpenId}
            </if>
        </where>
    </update>

    <insert id="insert" parameterType="FriendShip" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `friend_ship`
        (`open_id`,`friend_open_id`,`deleted`,`friend_nick_name`,`friend_image`,`create_time`,`update_time`)
        VALUES
        (#{openId},#{friendOpenId},#{deleted},#{friendNickName},#{friendImage},now(),now())

    </insert>
</mapper>