#set( $layout = "cuser_layout.vm" )
<div class="container">
<h2 class="sub-header">修改密码</h2>
<form action="/user/modify_password.htm" method="post" id="modify-password-form"  class="form-horizontal" role="form" >

    <div class="form-group">
        <label class="col-sm-2 control-label">原密码</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="old-password" name="oldPassword" value="" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">新密码</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="password" name="password" value=""  placeholder="至少6位">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input id="saveBtn" type="submit" class="btn btn-primary" value="保存">
        </div>
    </div>
</form>

</div>

<script type="text/javascript">
    var errorMsg = "$!{errorMsg}";
	$(document).ready(
		function() {
		    if(errorMsg.length > 0){
		        alert(errorMsg);
		    }
		}
	);

</script>
